<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Новости</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <header>
        <h1>Не Новости</h1>
        <nav>
            <a href="#">Главная</a> | <a href="#">Категории</a> | <a href="#">О нас</a>
        </nav>
        <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.content.label }}<br>
            {{ form.content(class="form-control") }}<br>
            {% for error in form.content.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        </p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        <div>{{ message }}</div>
    </form>
    </header>

    <main>
        {% for article in news %}
        <article class="news-item">
<!--            <img src="{{ article.image }}" alt="{{ article.title }}">-->
            <h2>{{ article.title }}</h2>
            <p class="date">{{ article.created_date }}</p>
            <p>{{ article.content[:100] }}
            {% if article.content|length > 100 %}
                ...
            {% endif %}
            </p>
            <a class="navbar-brand" href="/news/{{ article.id }}">Читать дальше</a>
        </article>
        {% endfor %}
    </main>

    <footer>
        <p>© 2023 Сайт новостей. Все права защищены.</p>
    </footer>
</body>
</html>