{% extends "base.html" %}

{% block content %}
<h1>{{ tag.name }}</h1>
<div class="news">
    {% for article in news%}
        <article class="news-item">
        {% if article.image_path %}
        <img src="{{ article.image_path }}" alt="{{ article.title }}">
        {% endif %}
        <h2>{{ article.title }}</h2>
        <p class="date">{{ article.created_date }}</p>
        <p>{{ article.content[:100] }}
        {% if article.content|length > 100 %}
            ...
        {% endif %}
        </p>
        <a class="navbar-brand" href="/news/{{ article.id }}">Читать дальше</a>
        </article>
    {% endfor %}
</div>
{% endblock %}