{% extends "base.html" %}

{% block content %}
<div class="user-head">
    <h1>{{ user.name }}</h1>
    <a class="navbar-brand" href="/settings">Настройки</a>
    {% if user != current_user %}
        {% if not current_user.is_following(user) %}
            <a href="{{ url_for('subscribe', user_id=user.id) }}">Подписаться</a>
        {% else %}
            <a href="{{ url_for('unsubscribe', user_id=user.id) }}">Отписаться</a>
        {% endif %}
    {% endif %}
</div>
<div class="info-card">
    <p>{{ user.create_date }}</p>
    {% if user.abot %}
       <p>{{ user.about }}</p>
    {% endif %}
</div>
Подписок: {{  user.followers.count() }}
<div class="subsite-tabs">
    <a class="navbar-brand" href="/user_profile/{{ user.id }}">Посты</a>
    <a class="navbar-brand" href="/user_profile/{{ user.id }}/comments">Комментарии</a>
</div>
{% for message in comments %}
    <div class="message">
        <div class="message-header">
            <span><strong>{{ message['name'] }}</strong></span>
            <span>{{ message['timestamp'] }}</span>
            {% if current_user.is_authenticated and current_user.id == message['user_id'] %}
            <a href="{{ url_for('comment_delete', id=message['id']) }}"
               class="delete-comment"
               title="Удалить комментарий">Удалить</a>
            {% endif %}
        </div>
        <div>
             {% if message['reply_to'] %}
                <p><em>Ответ на сообщение #{{ message['reply_to'] }}</em></p>
            {% endif %}
            <p>{{ message['text'] }}</p>
        </div>
    </div>
{% endfor %}
{% endblock %}