{% extends "base.html" %}

{% block content %}
<div class="user-head">
    <h1>{{ user.name }}</h1>
    <a class="navbar-brand" href="/settings">Настройки</a>
</div>
<div class="info-card">
    <p>{{ user.create_date }}</p>
    {% if user.abot %}
       <p>{{ user.about }}</p>
    {% endif %}
</div>
<div class="subsite-tabs">
    <a class="navbar-brand" href="/user_profile/{{ user.id }}">Посты</a>
    <a class="navbar-brand" href="/user_profile/{{ user.id }}/comments">Комментарии</a>
</div>
<div class="user-news">
    {% for article in news %}
        <article class="news-item">
            {% if article.image_path %}
            <img src="{{ article.image_path }}" alt="{{ article.title }}">
            {% endif %}
            <p>
               <h2>{{ article.title }}</h2>
               {% if current_user.id == article.user_id %}
                   <a class="navbar-brand" href="/news_delete/{{ article.id }}">Удалить</a>
               {% endif %}
            </p>
            <p class="date">{{ article.created_date }}</p>
            <p>{{ article.content[:100] }}
            {% if article.content|length > 100 %}
                ...
            {% endif %}
            </p>
            <a class="navbar-brand" href="/news/{{ article.id }}">Читать дальше</a>
        </article>
    {% endfor %}
</div>
{% endblock %}