{% extends "base.html" %}

{% block content %}
<div class="user-head">
    <h1>{{ user.name }}</h1>
    {% if user == current_user %}
    <a class="navbar-brand" href="/settings">Настройки</a>
    {% endif %}
    {% if current_user.is_authenticated and user != current_user %}
        {% if not current_user.is_following(user) %}
            <a href="{{ url_for('subscribe', user_id=user.id) }}">Подписаться</a>
        {% else %}
            <a href="{{ url_for('unsubscribe', user_id=user.id) }}">Отписаться</a>
        {% endif %}
    {% endif %}
</div>
<div class="info-card">
    <p>{{ user.create_date }}</p>
    {% if user.abot %}
       <p>{{ user.about }}</p>
    {% endif %}
</div>
Подписок: {{  user.followers.count() }}
<div class="subsite-tabs">
    <a class="navbar-brand" href="/user_profile/{{ user.id }}">Посты</a>
    <a class="navbar-brand" href="/user_profile/{{ user.id }}/comments">Комментарии</a>
</div>
<div class="user-news">
    {% for article in news %}
        <article class="news-item">
            {% if article.image_path %}
            <img src="../{{ article.image_path }}" alt="{{ article.title }}">
            {% endif %}
            <p>
               <h2>{{ article.title }}</h2>
               {% if current_user.is_authenticated and current_user.id == article.user_id %}
                   <p>
                       <a class="navbar-brand" href="/news_edit/{{ article.id }}">Редактировать</a>
                       <a class="navbar-brand" href="/news_delete/{{ article.id }}">Удалить</a>
                   </p>
               {% endif %}
            </p>
            <p class="date">{{ article.created_date.strftime('%d.%m.%Y %H:%M') }}</p>
            <p>{{ article.content[:100] }}
            {% if article.content|length > 100 %}
                ...
            {% endif %}
            </p>
            <a class="navbar-brand" href="/news/{{ article.id }}">Читать дальше</a>
        </article>
    {% endfor %}
</div>
{% endblock %}